section {
    border: 2px solid rgb(85, 83, 83);
    border-radius: 10px;
    margin: 2px;
}

footer {
    display: block;
    width: 100%;
    background-color: rgb(82, 175, 189) #b51414;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
}

.alto {
    height: 300px;
}
.grande {
    height: 400px;
}
.medio {
    height: 362px;
}
body {
    padding-top: 150px;
}

section {
    scroll-margin-top: 200px;
}

h1 {
    margin-top: 30px;
}


.bcolor01 {
    background: rgb(82, 175, 189) !important; 
    border-color: #ffffff;
}

button {
    background: rgb(82, 175, 189) !important;
    border-color: #ffffff !important;
}

a {
    background: rgb(82, 175, 189) !important;
    border-color: #ffffff !important;
}

.fcolor01 {
    color: #ffffff !important;
}

.fcolor01 .nav-link {
    color: #ffffff !important;
}

.fcolor01 .nav-link:hover {
    background-color: #ffffff !important;
    color: rgb(82, 175, 189) !important; /* azul más intenso */
    border-radius: 10px;
    font-weight: bold;
}

.fcolor01 .btn-outline-success {
    color: #ffffff !important;
}

.fcolor01 .btn-outline-success:hover {
    background-color: #ffffff !important;
    color: rgb(82, 175, 189) !important;
    border-radius: 10px;
    font-weight: bold;
    border: 0px;
}

.logo {
    width: 50%;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h5 {
    font-size: 42px;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(157, 171, 162, 0.65);
}

.carousel-item img {
    height: 300px;
    object-fit: cover;
}

.icon-mis-vis {
    font-size: 63px;
    color: rgb(82, 175, 189); /* azul intenso */
}

.icon-forms {
    font-size: 16px;
    display: inline-block;
    transition: transform 0.25s ease, color 0.25s ease;
    color: rgb(82, 175, 189); /* azul claro */
}

.icon-forms:hover {
    color: rgb(82, 175, 189); /* azul más intenso */
    transform: scale(1.15);
}

.resaltado {
    background: yellow;
    color: black;
    font-weight: bold;
}
